body {
  margin: 0;
  padding: 0;
  background-color: #c4c4c4;
  font-size: 52.5%; }
  @media (min-width: 1200px) {
    body {
      overflow-y: hidden; } }

li {
  list-style: none; }

a {
  text-decoration: none;
  font-size: clamp(1.6rem, 5vw, 2rem); }

.title {
  text-align: center;
  font-size: clamp(2rem, 8vw, 3.6rem); }

.title__h3 {
  margin-top: 250px;
  font-size: clamp(1.8rem, 6vw, 3rem); }

.section__principal {
  display: flex;
  flex-direction: row; }
  .section__principal ul {
    flex-basis: 100%; }
    .section__principal ul a {
      color: #000;
      position: relative; }
      .section__principal ul a::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        background: radial-gradient(circle farthest-corner at 35% 90%, #fec564, transparent 50%), radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%), radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent), linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%);
        border-radius: 10px;
        height: 2px;
        width: 100%;
        transform: scaleX(0);
        transition: transform 250ms ease-out;
        transform-origin: right; }
      .section__principal ul a:hover::after {
        transform: scaleX(1);
        transform-origin: left; }
  .section__principal img {
    object-fit: cover;
    border-radius: 30px; }
  @media (max-width: 1200px) {
    .section__principal {
      display: flex;
      flex-direction: column-reverse; } }

.button {
  position: absolute;
  left: 48%;
  right: 50%;
  border: solid 2px #000;
  background-color: #fff;
  border-radius: 10px;
  padding: .4em;
  cursor: pointer;
  padding-right: 1rem;
  transition: transform 200ms ease-out;
  z-index: 1000; }
  .button:hover {
    color: #fff;
    border: solid 2px #fff;
    background-color: rgba(34, 34, 34, 0.548);
    transform: translate(3px, -3px); }
  .button::after {
    content: '\f0a5';
    font-family: "Font Awesome 5 free";
    font-weight: 900;
    font-size: 14px;
    vertical-align: center;
    margin-left: 3px; }

.boton__principal {
  position: absolute;
  top: 30px;
  left: 40px;
  padding: .6em;
  border-radius: 5px;
  outline: none;
  border: none;
  cursor: pointer;
  background-color: #1d3557;
  color: #fff; }
  .boton__principal::before {
    content: '\f060';
    font-family: "Font Awesome 5 free";
    color: #000;
    font-weight: 900;
    margin-right: 3px;
    font-size: 14px;
    color: #fff; }
  .boton__principal:hover {
    background-color: #e63946; }

.c4__container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw; }

.c4__calculadora {
  padding: 20px 10px;
  max-width: 525px;
  background: #fff;
  display: flex;
  flex-direction: column;
  border-radius: 50px;
  z-index: 5;
  position: relative; }

.c4__calculadora .c4__input,
.c4__calculadora button {
  background: #000;
  color: #fff;
  margin: .6rem auto;
  padding: .5em;
  width: 250px;
  border-radius: 5px;
  transition: 250ms ease-in-out; }

.c4__calculadora .c4__input:focus {
  background: rgba(61, 61, 61, 0.411); }

.c4__calculadora button {
  cursor: pointer; }
  .c4__calculadora button:hover {
    background-color: rgba(61, 61, 61, 0.411); }

.c4__btns {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; }

.c4__title {
  color: #000;
  text-align: center;
  margin-bottom: 50px;
  font-size: 30px;
  letter-spacing: .2em; }

.c4__refresh {
  color: #000;
  cursor: pointer;
  font-size: 30px;
  position: absolute;
  top: 60%;
  right: 10px;
  transition: color 250ms ease-in-out; }
  .c4__refresh:hover {
    color: rgba(61, 61, 61, 0.411); }

.c4__result {
  margin: .6rem auto;
  padding: .5em;
  width: 250px;
  border-radius: 5px;
  background: #219ebc;
  outline: none;
  border: none; }

.c4__input::placeholder, .c4__result::placeholder {
  color: #fff; }

.c5__body {
  background-image: url(../assets/stock.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center; }

.c5__title {
  font-size: clamp(2rem, 8vw, 3rem);
  color: #fff; }

.c5__container {
  padding: 50px;
  background-color: rgba(0, 0, 0, 0.7);
  border: 3px solid #fff;
  border-radius: 50px;
  position: relative; }

.c5__numbers {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly; }
  .c5__numbers div {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    border-radius: 100px;
    background: white;
    border: 1px solid #fff;
    height: 20px;
    width: 20px;
    cursor: pointer; }
    .c5__numbers div:hover {
      background: silver; }
  .c5__numbers p {
    font-size: 22px;
    color: #000; }

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1;
  display: none; }

.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  background: #fff;
  width: 450px;
  height: 220px;
  z-index: 2;
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  box-sizing: border-box; }

.close-btn {
  position: absolute;
  right: 20px;
  top: 20px;
  width: 30px;
  background: #222;
  color: #fff;
  font-size: 25px;
  font-weight: 600;
  line-height: 30px;
  text-align: center;
  border-radius: 50%;
  cursor: pointer; }

button {
  cursor: pointer; }

.popup.active .overlay {
  display: block; }

.popup.active .content {
  transition: all 300ms ease-in-out;
  transform: translate(-50%, -50%) scale(1); }

::placeholder {
  color: #fff; }

.c5__inputs {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 100%; }
  .c5__inputs input {
    border: none;
    border-bottom: 2px solid #000;
    outline: none; }
